<!DOCTYPE html>
<html>
    <head>
        <title>{{ site.title }} &#8226; {{ page.title }}</title>
        <link href="/static/style.css" rel="stylesheet">
    </head>
    <body class="bg-gray-900">
        <div class="container mx-auto">
            <nav class="flex items-center">
            <div class="flex-grow">
                <a href="/" class="inline-block px-4 py-2 bg-blue-400">{{ site.title }}</a>
                <span class="ml-2 text-blue-400">{{ site.tagline }}</span>
            </div>
            
            <div>
                <a class="text-blue-400 underline mr-2" href="/posts">Posts</a>
                <a class="text-blue-400 underline mr-2" href="/about">About</a>
            </div>
            </nav>
        </div>
        
        <div class="container mx-auto mt-8">
            <h2 class="text-blue-400 text-4xl font-bold">{{ page.title }}</h2>
            {% if page.show_date %}
            <h4 class="text-blue-200 font-semibold text-lg">
                Written on {{ page.date | date(format="%b %d, %Y") }} by <span class="border-b-2 border-blue-200 border-dotted">{{ page.author }}</span>
            </h4>
            {% endif %}
            <div id="markdown" class="mt-4">
                {{ content }}
            </div>
            </div>
        </div>
        <footer class="p-8">
            <p class="text-center text-blue-200">cbrewster &#8226; built with <a class="underline" href="https://github.com/cbrewster/brewblog">brewblog</a></p>
        </footer>
    </body>
</html>